body{
  font-size: .95em;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-sibtc{
    background-color: #01a65a;
}
.navbar-sibtc .navbar-brand{
    color: #fff;
}
.navbar-sibtc .navbar-nav > li > a{
    color: #fff;
}
.navbar-sibtc .btn-link{
    color: #fff;
}
.boxed{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
}

.hr-15{
    margin-right: -15px;
    margin-left: -15px;
}
.hr-20{
    margin-right: -20px;
    margin-left: -20px;
}
.hr-30{
    margin-right: -30px;
    margin-left: -30px;
}
.form-header{
    background-color: #e7e7e7;
    margin: -20px -20px 20px -20px;
    padding: 20px;
    text-transform: uppercase;
}
.steps{
    position: relative;
    top: 5px;
}
.step{
    border: 1px solid #9E7D07;
    background-color: #9E7D07;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    padding-top: 4px;
    text-align: center;
    color: #fff;
}
.active-step{
    border: 1px solid #231F20;
    background-color: #231F20;
}
.btn-dark{
    background-color: #e7e7e7;
}
.profile-summary{
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
}
.profile-name{
    margin-top: 25px;
}
.profile-details h5{
    text-transform: uppercase;
}
.form-header a{
    text-transform: uppercase;
}
.badge{
  font-size: 90%;
}
.badge-secondary{background-color:#9e9e9e;color:#fff}
.badge-primary{background-color:#29506f;color:#fff}
.badge-purple{background-color:#673AB7;color:#fff}
.badge-accent{background-color:#E91E63;color:#fff}
.badge-info{background-color:#03A9F4;color:#fff}
.badge-warning{background-color:#FFC107;color:#fff}
.badge-danger{background-color:#f44336;color:#fff}
.badge-success{background-color:#4CAF50;color:#fff}

.cta{
    display: inline-block;
    padding-top: 150px;
    padding-bottom: 150px;
}
.btn-theme{
    background-color: #0089FF;
    border: 1px solid #0089FF;
    padding: 8px 20px;
}
.btn-theme:hover,.btn-theme:focus{
    background-color: #0066BF;
    border-color: #0066BF;
}
 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  background-color:#01a65a; 
  color: #fff;
}
.sidebar-heading h5{
  font-size: .9em;
  margin-top: 8px;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}
.page-content-wrapper{
  width: 100%!important;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.bg-theme{
  background-color: #0A151D;
  color: #fff;
}
.sidebar-menu a{
  background-color: #0A151D;
  color: #f5f5f5;
}
.sidebar-menu a i{
  color: #e7e7e7;
  margin-right: 5px;
}
.sidebar-menu a:hover,.sidebar-menu a:focus{
  background-color: rgba(0,0,0,.125);
  color: #fff;
}

.breadcrumb li:after{
  content: " | ";
  color: #0032a2;
}
.breadcrumb li:last-child:after{
  content: ""!important;
}
.breadcrumb li{
  margin-right: 5px;
  color: #777;
}
.breadcrumb{
  background-color: #e7e7e7;
  border-radius: 0px;
  position: relative;
  top: 9px;
}
.page-content-wrapper{
  background: #e7e7e7;
}
.page-header{
  border-bottom: 1px solid #e7e7e7;
  margin: -20px;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  background: #f5f5f5!important;

}
.page-header h5{
  font-size: .9em;
  text-transform: uppercase;
}
.page-wrapper{
  margin-bottom: 50px;
}
.btn{
  padding: 2px 8px;
  font-size: .95em;
}
.navbar-toggler{
  padding: 0;
}
.card-content
{
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.card-icon
{
    position: absolute;
    right: 0;
    padding-right: 10px;
    top: 14%;
}
.card:hover .card-icon i
{
    transform: scale(1.12);
}
.card-icon i
{
    color: rgba(0,0,0,0.2);
    font-size: 5em;
    transition: all 400ms ease-in;
}
.card-content h3
{
    font-size: 25px;
    font-weight: bold;
}
.card-content h3, .card-content p
{
    text-align: left;
    color: #fff;

}
.card-holder
{
    padding:2px;
}
.card
{
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    /* height: 100px; */
    margin-bottom: 10px!important;
}
.bg-blue
{
    background-color: #0073b7 !important;
}
.bg-green
{
    background-color: #00a65a !important;
}
.bg-yellow
{
    background-color: #f39c12 !important;
}
.bg-red
{
    background-color: #f56954 !important;
}
.bg-light-blue
{
    background-color: rgb(124, 181, 236)!important;
}
.bg-black
{
    background-color: rgb(67, 67, 72)!important;
}
.sub-sidebar-menu li{
  padding-left: 20px;
  font-size: .9em;
}
.sub-sidebar-menu a{
  color: #ddd;
}
.sidebar-menu li span{
  float: right;
}
.tab-pane{
  padding-top: 20px;
}
.help-block{
  color: #AB292A;
}
label{
  font-weight: 500;
  color: #242424;
}
.summary{
  margin-bottom: 20px;
}
.list-group-item{
  border-bottom: 1px solid #000;
}
.applications-view td:first-child,.applications-view th:first-child{
    width: 30%;
}