html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: #e7e7e7;
}

.content{
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #0A2240;
    border-top: 1px solid #0A2240;
    padding-top: 20px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #0089FF;
}
.footer p{
    color: #fff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar-sibtc{
    background-color: #0032A2;
    border-color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #0089FF;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{
    border-color: #0089FF!important;
    background-color: #0089FF!important;
}
.navbar-inverse .navbar-toggle{
    border-color: #0089FF;
}
.navbar-sibtc .navbar-brand{
    color: #fff;
}
.navbar-sibtc .navbar-nav > li > a{
    color: #fff;
}
.navbar-sibtc .btn-link{
    color: #fff;
}
.boxed{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
}

.hr-15{
    margin-right: -15px;
    margin-left: -15px;
}
.hr-20{
    margin-right: -20px;
    margin-left: -20px;
}
.hr-30{
    margin-right: -30px;
    margin-left: -30px;
}
.form-header{
    background-color: #f5f5f5;
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid #e7e7e7;
    padding: 20px;
    text-transform: uppercase;
}
.steps{
    position: relative;
    top: 5px;
}
.step{
    border: 1px solid #9E7D07;
    background-color: #9E7D07;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    padding-top: 4px;
    text-align: center;
    color: #fff;
}
.active-step{
    border: 1px solid #231F20;
    background-color: #231F20;
}
.btn-dark{
    background-color: #e7e7e7;
}
.profile-summary{
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
}
.profile-name{
    margin-top: 25px;
}
.profile-details h5{
    text-transform: uppercase;
}
.form-header a{
    text-transform: uppercase;
}
.badge-secondary{background-color:#9e9e9e;color:#fff}
.badge-primary{background-color:#29506f;color:#fff}
.badge-purple{background-color:#673AB7;color:#fff}
.badge-accent{background-color:#E91E63;color:#fff}
.badge-info{background-color:#03A9F4;color:#fff}
.badge-warning{background-color:#FFC107;color:#fff}
.badge-danger{background-color:#f44336;color:#fff}
.badge-success{background-color:#4CAF50;color:#fff}

.site-index{
    height: 100vh;
}

.hero{
    background-image: url(../images/bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}
.hero-action{
    background-color: rgba(0, 0, 0, .6);
    min-height: 300px;
    margin-top: 100px;
    border-radius: 4px;
}
.cta{
    display: inline-block;
    padding-top: 150px;
    padding-bottom: 150px;
}
.btn-theme{
    background-color: #0089FF;
    border: 1px solid #0089FF;
    padding: 5px 10px;
}
.btn-theme:hover,.btn-theme:focus{
    background-color: #0066BF;
    border-color: #0066BF;
}